* {
    padding: 0%;
    margin: 0%;
}

.container {
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-mobile.svg);
}

.card {
    padding: 8%;
}

.logo {
    width: 45%;
}

.layout {
    margin-top:15%;
    width: 100%;
}

.info {
    margin-top:15%;
    text-align: center;
    color: white;
}
h1 {
    font-family: 'Poppins', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
}
button {
    font-family: 'Open Sans', sans-serif;
    margin-top:8%;
    border: none;
    border-radius: 50px;
    margin-left: 6%;
    padding: 10px 70px;
    color: hsl(257, 40%, 49%);
}

footer {
    margin-top:10%;
    margin-left: 40%;
    color: white;
}

@media (min-width: 375px){
    button {
        margin-left: 22%;
        align-items: center;
    }
    footer {
        margin-left: 44%;
    }
}

@media (min-width: 480px){
    button {
        margin-left: 28%;
        align-items: center;
    }
    footer {
        margin-left: 45%;
    }
}

@media (min-width: 720px){
    button {
        margin-left: 35%;
        align-items: center;
    }
    footer {
        margin-left: 46%;
    }
}

@media (min-width: 1024px){
    button {
        margin-left: 35%;
        align-self: center;
    }
    footer {
        margin-left: 46%;
    }
}
