* {
    padding: 0%;
    margin: 0%;
}

.container {
    background-color: hsl(257, 40%, 49%) ;
    background-image: url(images/bg-mobile.svg);
}

.card {
    padding: 8%;
}

.logo {
    width: 45%;
}

.layout {
    margin-top:15%;
    width: 100%;
}

.info {
    margin-top:15%;
    text-align: center;
    color: white;
}
h1 {
    font-family: 'Poppins', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
}
button {
    font-family: 'Open Sans', sans-serif;
    margin-top:8%;
    border: none;
    border-radius: 50px;
    margin-left: 6%;
    padding: 10px 70px;
    color: hsl(257, 40%, 49%);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    background-color: white;
}
button:hover {
    background-color:hsl(300, 69%, 71%);
    color:white;   
}
footer {
    margin-top:10%;
    margin-left: 30%;
    color: white;
}

/*Media Querys Breakpoints*/
@media (min-width: 375px){
    .container { 
        background-image: url(images/bg-desktop.svg);
    }
}
@media (min-width: 480px){
    footer {
        margin-left: 45%;
    }
}

@media (min-width: 720px){
    footer {margin-left: 48%;
    }
}

@media (min-width: 1024px){
    
    .card {
        padding: 10%;
    }
    .logo {
        margin-top:-5%;
    }
    .layout {
        margin-top: 4%;
        width: 60%;
        margin-left:-5%;
    }
    .info {
        margin-top: -43%;
        margin-left: 58%;
        width: 50%;
    }
    h1 {
        text-align:left;
    }
    p {
        text-align:left;
        margin-right: 15%;
    }
    button {
        margin-left: -56%;
    }
    footer {
        margin-top: 10%;
        margin-left: 86%;
}
